@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

//Медиа-запросы
@mixin laptop () {
    @media (max-width: 1387px) {
		@content;
	}
}

@mixin tablet () {
    @media (max-width: 1044px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}

@mixin mobile-portrait () {
    @media (max-width: 588px) {
		@content;
	}
}

//Исправленный ховер
@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

//Улучшенный clamp
@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, #{calc($max / 1440) * 100}vw, #{$max}px);
}

//Прочее
@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}